body {
    font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
    background: black;
    margin: 0;
}

.viewer {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #333;
}

.pageloader {
    height: 600px;
    width: 400px;
    margin: 100px auto 0;
}

.page {
    background: #ccc;
    border: 1px solid #888;
    color: #333;
    padding: 100px 30px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255,255,255,.5);
}

p.note {
    width: 300px;
    margin: 1em auto;
    color: #666;
    text-align: center;
    font-size: 75%;
}

p.note a {
    color: #ccc;
    white-space: nowrap;
}