body {
    font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
    background: black;
    margin: 0;
}

.viewer {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #333;
}

.pageloader {
    height: 66%;
    width: 75%;
    margin: 0 auto 0;
}

.page {
    background: #ccc;
    border: 1px solid #888;
    color: #333;
    padding: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255,255,255,.5);
}

.viewer > p {
    width: 300px;
    margin: 1em auto;
    color: #666;
    text-align: center;
}

.viewer a {
    color: #ccc;
    white-space: nowrap;
}

p {
    max-width: 300px;
    margin: 1em auto;
}

.page a {
    color: black;
}

.page h1 {
    margin-top: 0;
    font-size: 1.25em;
}

p.note {
    font-size: 75%;
}

